@charset "utf-8";
html{
	font-size: 625%;
}
body, div, p, ul, li {
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: .5rem;
	background-color: #29bde0;
	z-index: 99;
}
.head-menu {
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	left: 1%;
	width: .3rem;
	height: .3rem;
	background: url(images/2-a.png) no-repeat center center;
	background-size: .3rem .3rem;
	cursor: pointer;
}
.main {
	position: absolute;
	top: .5rem;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #f0f0f0;
}
.main-top {
	width: 80%;
	height: .7rem;
	margin: .2rem auto;
	border: .02rem solid #c9c9c9;
	background-color: #fff;
	font-size: .2rem;
	color: #9a9a9a;
	line-height: .7rem;
	text-align: center;
	cursor: pointer;
}
.main-top > span {
	float: right;
	font-size: .4rem;
	color: #e7e7e7;
}
.content {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
}
.content-title{
	width: 100%;
	height: .6rem;
	text-align: center;
	line-height: .6rem;
	border-bottom: .01rem solid #fbb435;
	font-size: .25rem;
	color: #fbb435;
}

ul li {
	list-style: none;
	text-align: center;
}
ul {
	position: relative;
}
.info{
	width: 80%;
	height: .8rem;
	margin: .2rem auto 0;
	background: #69d1e9;
	font-size: .2rem;
	color: #fff;
	text-align: center;
	line-height: .8rem;
	cursor: pointer;
}
li > p {
	margin-top: .1rem;
	margin-bottom: .1rem;
	font-size: .14rem;
	color: #9a9a9a;
}
.triangle-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 2%;
	width: 0;
	height: 0;
	border-top: .2rem solid transparent;
    border-left: .16rem solid #fbb435;
    border-bottom: .2rem solid transparent;
}
.section{
	width: .6rem;
	margin: .1rem auto;
}
.section > span {
	display: block;
	float: left;
	width: .1rem;
	height: .1rem;
	border-radius: .1rem;
}
.section-1 {
	background-color: #29bde0;
}
.section-2 {
	background-color: #787878;
}