@charset "utf-8";
html {
	font-size: 625%;
}
body, div, p, span, ul, li{
	margin: 0;
	padding: 0;
}
.clear {
	clear: both;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: .5rem;
	background-color: #29bde0;
	font-size: .18rem;
	color: #fff;
	text-align: center;
	line-height: .5rem;
	letter-spacing: .05rem;
	z-index: 99;
}
.head-index {
	float: left;
	width: .3rem;
	height: .5rem;
	background: url(images/3-a.png) no-repeat center center;
	background-size: .3rem .3rem;
	padding-left: 3%;
	cursor: pointer;
}
.head-msg {
	float: right;
	width: .3rem;
	height: .5rem;
	background: url(images/3-b.png) no-repeat center center;
	background-size: .3rem .3rem;
	padding-right: 3%;
}
.main {
	height: 3.1rem;
	position: absolute;
	top: .51rem;
	left: 0;
	right: 0;
	width: 100%;
	background: #29bde0;
}
.main-logo{
	width: 1.75rem;
	height: 1rem;
	margin: .2rem auto;
	background: url(images/3-c.png) no-repeat center center;
	background-size: 1.75rem 1rem;
}
.cgl {
	width: 90%;
	max-width: 5.5rem;
	margin: 0 auto;
	margin-bottom: .1rem;
	font-size: .17rem;
	color: #ffc865;
}
ul, li {
	list-style: none;

}
li {
	width: 90%;
	max-width: 5.5rem;
	margin: 0 auto;
	margin-bottom: .05rem;
	text-align: left;
	font-size: .14rem;
	color: #fff;	
}
li > span {
	margin-left: .2rem;
}
.first {
	margin: 0;
}
.content {
	position: absolute;
	top:3.7rem;
	left: 0;
	right: 0;
	bottom: .8rem;
	overflow-x:hidden;
	overflow-y:auto;
}

.content > ul > li {
	width: 70%;
	min-width: .3rem;
	max-width: 4.5rem;
	margin: 0 auto;
	margin-bottom: .08rem;
	padding-bottom: .1rem;
	border-bottom: .005rem solid #a6a6a6;
}
.date {
	float: left;
	font-size: .14rem;
	color: #515151;
}
.time {
	float: right;
	font-size: .1rem;
	color: #515151;
	line-height: .3rem;
}
.explain {
	font-size: .12rem;
	margin-bottom: .05rem;
	color: #a6a6a6;
}
.footer-back{
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	right: 0rem;
	width: 100%;
	height: .8rem;
	background-color: #29bde0;
	filter: alpha(Opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	z-index: 0;
}
.footer {
	position: fixed;
	bottom: 0rem;
	left: 0rem;
	right: 0rem;
	display: flex;
	justify-content: space-around;
	align-items:center;
	width: 100%;
	height: .8rem;	
	z-index: 99;
}
.btn-left {
	width: 40%;
	max-width: 2rem;
	height: .4rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #f66f6f;
	font-size: .2rem;
	color: #fff;
}
.btn-right {
	width: 40%;
	max-width: 2rem;
	height: .4rem;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #fbb435;
	font-size: .2rem;
	color: #fff;
}

